/*.span6{
  margin: 0 auto;
  width: 90%;
}*/

body {
  padding: 0px;
}

#container {
  width: 75%;
  margin: 0 auto;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}

.row {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  text-align: center;
  margin: 0 0 40 0;
  padding: 5px;
}

.user-nav {
  width: 100%;
  height: 50px;
}

.span1#left {
  margin: 0 auto;
  width: 14%;
  background-color: blue;
  color: black;
  display: block;
  float: left;
  padding: 15px;
  margin: 2px;
  border-radius: 20px;
  text-align: center;
  min-height: 700px;

}

.span3#center {
  margin: 0 auto ;
  width: 45%;
  background-color: green;
  color: black;
  display: block;
  float: left;
  padding: 15px;
  margin: 2px;
  border-radius: 20px;
  min-height: 700px;

}

.span2#right {
  margin: 0 auto;
  width: 30%;
  background-color: red;
  color: black;
  display: block;
  float: right;
  padding: 15px;
  margin: 2px;
  border-radius: 20px;
  min-height: 700px;

}

#accordion {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #B9D0EB;
}

.outer{
  width: 100%;
}


h1 {
  text-align: center;
  color: gray;
  margin: 30 0 0 0;
}

.inner {
  width:100%;
  border-style: solid;
  border-width: 1px;
  background-color: #C4C8CC;
  border-radius: 20px;
  padding: 10px;
  margin: 0;
  color: black;
}

.inner h3{
  font-size: 14px;
}

.inner h4{
  font-size: 16px;
  font-style: bold;
  color: black;
}

.inner li{
  color: black;
  font-weight: bold;
}

.inner li audio{
  width: 45px;
  background-color: transparent;
}

.inner a {
  text-decoration: underline;
  font-weight: normal;
}

ul li{
  color: gray;
  font-family: helvetica;
  font-size: 12px;
  list-style: none;
}

ul li img{
  width: 100px;
  height: auto;
}

ul li a{

}

.banddiv img {
width: 100px;
height: auto;
}

.form {
  background-color: gray;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.field {
  color: black;
  background-color: gray;
}

.fields {
  color: black;
  background-color: #CFCFCF;
  text-align: left; 
  padding: 5px;
}


.fields input{

}
