/*.span6{
  margin: 0 auto;
  width: 90%;
}*/

h1 {
  text-align: center;
}

.inner {
  border-style: solid;
  border-width: 1px;
  background-color: red;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

.inner h3{
  font-size: 14px;
}

.inner h4{
  font-size: 16px;
  font-style: bold;
  color: black;
}

ul li{
  color: gray;
  font-family: helvetica;
  font-size: 12px;
  list-style: none;
}

ul li img{
  width: 100px;
  height: auto;
}

ul li a{

}

.banddiv img {
width: 100px;
height: auto;
}
