/*.span6{
  margin: 0 auto;
  width: 90%;
}*/

body {
  padding: 0px;
  // background-image: url("background_pink.jpg");
  // background-size:cover; 
  background-color: white;
}

#logo {
  width: 292px;
  height: 292px;
  margin: 0 auto;
  display: inline-block;
  float: right;
  margin-right: -70px;

}

#container {
  width: 75%;
  height: 1400px;
  margin: 0 auto;
  // border-width: 1px;
  // border-style: solid;
  // border-color: transparent;
  background-color: transparent;
  background-image: url("background_pink.jpg");
  background-size:cover; 
}

button {
  margin: 10px;
}

#bandimagecontainer {
  width: 200px;
  height: 200px;
  background-color: white;
  padding: 7px;
  display: inline-block;
}

#bandimagecontainer img {
  width: 90px;
  height: 90px;
  background-color: blue;
  background-size:cover;
}

.banddiv {
  width: 220px;
  height: 220px;
  display: inline-block;
  float: left;
  margin-right: 15px;
  padding: 4px;
  background-color: transparent;
}

#lineup {
  float: left;
  opacity: 1;
  text-align: left;
}

#lineup p {
  display: inline;
  margin-left: 8px;
  font-family: helvetica;
  color: white;
  text-align: left;
}

#lineup hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

#eventinfo {
  float: left;
  width: 100%;
}

#eventinfo ul{
  list-style: none;
  padding-left: 0;
}

#toolbox {
  float: left;
}

#visualiser {
  background-color: transparent;
  width: 220px;
  height: 220px;
  // padding: 10px;
  position:absolute;
  // bottom:100px;
  // right:220px;
  display: inline-block;
  float: left;

}

#singleimage {
  width: 100px;
  height: 100px;
  display: inline-block;
  float: left;
  margin: 4px;
  background-color: white;
  background-size: cover;
}

#singleimage img{
  width: 100px;
  height: 100px;
}

#musicbox {
  background-color: transparent;
  width: 220px;
  height: 220px;
  z-index: +1;
  // padding: 10px;
  float: left;
}

#singleaudio {
  width: 100px;
  background-color: transparent;
  height: 100px;
  display: inline;
  float: left;
  margin: 4px;
  background-size: cover;
  padding-bottom: 20px;
  opacity: 50%;
}

#singleaudio audio{
  width: 45px;
  height: 64px;
  display: block;
  margin: 0 auto;
}



.row {
  width: 100%;
  height: 50px;
  background-color: transparent;
  color: white;
  text-align: center;
  margin-left: 30;
  // padding: 5px;
  padding: 10px;
}

.row h1 {
  float: bottom;
}

.user-nav {
  width: 100%;
  height: 50px;
  margin-left: 30px;
}

.user-nav b {
  color: white;
}

.userbuttons {
  width: 150px;
  height: 150px;
  background-color: transparent;
  float: right;
  display: inline-block;
  clear:  right;
  margin-right: 82px;
  margin-top: 50px;
}

#neweventbutton {
  margin: 30px;
}

#calendarbutton {
  margin: 30px;
}


#accordion {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 0px;
  border-style: none;
  // background-color: red; 
}

#accordion div.ui-accordion-content{
  background-color: transparent;
  // height: 1500px;
  // height: auto;
  // display: block;
  // overflow: auto;
  border-style: none;
}

#accordion h3.ui-accordion-header{
  background-color: blue;
}

#userevents {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: transparent;
}

h1 {
  text-align: center;
  color: #1527A5;
  margin: 30 0 0 0;
}

b {
  color: black;
}

p {
  color: black;
}

.inner {
  width:500px;
  height: 250px;
  border-style: none;
  border-width: 1px;
  background-color: transparent;
  border-radius: 20px;
  padding: 15px;
  margin: 0 auto;
  color: #281934;
}

.inner h3{
  font-size: 14px;
}

.inner h4{
  font-size: 16px;
  font-style: bold;
  color: #281934;
}

.inner li{
  color: #281934;
  font-weight: bold;
}

.inner li audio{
  width: 45px;
  background-color: transparent;
}

.inner a {
  text-decoration: underline;
  font-weight: normal;
}


.inneradministration {
  width:500px;
  height: 250px;
  border-style: none;
  border-width: 1px;
  background-color: gray;
  border-radius: 20px;
  padding: 15px;
  margin: 0 auto;
  color: black;
}

.inneradministration h3{
  font-size: 14px;
}

.inneradministration h4{
  font-size: 16px;
  font-style: bold;
  color: #281934;
}

.inneradministration li{
  color: #281934;
  font-weight: bold;
}

.inneradministration li audio{
  width: 45px;
  background-color: transparent;
}

.inneradministration a {
  text-decoration: underline;
  font-weight: normal;
}

ul li{
  color: gray;
  font-family: helvetica;
  font-size: 12px;
  list-style: none;
}

ul li img{
  width: 100px;
  height: auto;
}

ul li a{

}



#show {
  width: 25px;
  height: 25px;
  background-size:cover;
}

table#amend img{
  width: 25px;
  height: 25px;
  background-size:cover;
}

.form {
  background-color: gray;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.field {
  color: black;
  background-color: gray;
}

.fields {
  color: black;
  background-color: #CFCFCF;
  text-align: left; 
  padding: 5px;
}


.fields input{

}
